<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name=" NETFLIX Automation">


    <test name=" Netflix Login portal ">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="login"></include>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="others"></include>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="TestRunner.LoginTestRunner"/>
        </classes>
    </test>

</suite>